body{
    margin: 0%;
}

/* style app name header */
.app_name{
    background-color: rgb(73, 4, 94);
    height: 200px;
    width: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: none;
    font-size: 50px;
    font-family: Consolas;
    color: azure;
    letter-spacing: 2px;
}

/* navigation bar */
.navigation{
    background-color: rgb(73, 4, 94);
    height: 40px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    color: azure;
    letter-spacing: 1.5px;
    font-size: 18px;
    font-family: Bahnschrift SemiBold;
}
/* Style the hyperlinks in navbar */
a{
    color: azure;
    cursor: pointer;
    opacity: 80%;
}
a:hover{
    text-shadow: 0 0 15px #8358af;
    text-decoration: none;
    opacity: 100%;
}
a:visited, a:active, a:link{
    text-decoration: none;
}

/* Coming soon */
.fantasyleague,.fixture,.predictor{

    display: flex;
    height: 500px;
    justify-content: center;
    align-items:center;
    color: rgb(73, 4, 94);
    font-family: Consolas;
    font-size: 55px;
}

input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #02894e;
  color: white;
  font-family: "PremierSans-Bold", Arial, "Helvetica Neue", Helvetica, "sans-seriff";
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:#2E8B57;
}

#btn{
width:10%;
height:46px;
font-size :18px;
}

table {
   font-family: "PremierSans-Bold", Arial, "Helvetica Neue", Helvetica, "sans-seriff"; 
  border-collapse: collapse;
  width: 50%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color:rgb(55, 0, 60);;
  color: white;
}