<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Euro 2021</title>
    <link rel="stylesheet" href="./static/home.css">
</head>
<body>
    <!-- Display app name -->
    <div class="app_name" id="app_name"><p></p></div>
    <!-- Navigation bar -->
    <div class="navigation" id="navigation">
        <!-- Home page -->
        <div class="stats" id="stats"> <a href="/">Stats</a></div>
        <!-- Statistics tab -->
        <div class="home" id="home"> <a href="/predict">Match Predictor</a></div>
        <!-- Fantasy league -->
        <div class="home" id="home"> <a href="/player">Player Performance Predictor</a></div>
        <!-- Fantasy league -->
        <div class="home" id="home"> <a href="/visual">Visual Stats</a></div>
        <!-- Fantasy league -->
    </div>
<!-- Content -->

<div class="content" id="content">


    <div class="homepage" id="homepage">
        <form method="POST" action="http://127.0.0.1:5000/player">
<center>

    <select name="select team" id ="selectTeam" style="font-family: font-family: 'PremierSans-Bold', Arial, 'Helvetica Neue', Helvetica, 'sans-seriff';">
    <option value="none" selected disabled hidden> 
        Select Team </option>
    <option value="All">All</option>    
    <option value="Austria">Austria</option>
    <option value="Belgium">Belgium</option>
    <option value="Croatia">Croatia</option>
    <option value="CzechRepublic">CzechRepublic</option>
    <option value="Denmark">Denmark</option>
    <option value="England">England</option>
    <option value="Finland">Finland</option>
    <option value="France">France</option>
    <option value="Germany">Germany</option>
    <option value="Hungary">Hungary</option>
    <option value="Italy">Italy</option>
    <option value="Netherlands">Netherlands</option>
    <option value="NorthMacedonia">NorthMacedonia</option>
    <option value="Poland">Poland</option>
    <option value="Portugal">Portugal</option>
    <option value="Russia">Russia</option>
    <option value="Scotland">Scotland</option>
    <option value="Slovakia">Slovakia</option>
    <option value="Spain">Spain</option>
    <option value="Sweden">Sweden</option>
    <option value="Switzerland">Switzerland</option>
    <option value="Turkey">Turkey</option> 
    <option value="Ukraine">Ukraine</option> 
    <option value="Wales">Wales</option>     
  </select>
<select name="sort by" id ="sortby" style="font-family: font-family: 'PremierSans-Bold', Arial, 'Helvetica Neue', Helvetica, 'sans-seriff';">
    <option value="none" selected disabled hidden> 
        sort by </option>
        <option value="Goals per 90 minutes">Goals per 90 minutes</option>
        <option value="Assists per 90 minutes">Assists per 90 minutes</option>
        <option value="Average Goal Contribution Percent">Average Goal Contribution Percent</option>
        <option value="Average Goal Contribution">Average Goal Contribution</option>
        <option value="Average Assists Contribution Percent">Average Assists Contribution Percent</option>
        <option value="Average Assists Contribution">Average Assists Contribution</option>
  </select>  
<select name="position" id ="position" style="font-family: font-family: 'PremierSans-Bold', Arial, 'Helvetica Neue', Helvetica, 'sans-seriff';">
    <option value="none" selected disabled hidden> 
        Sorted by position </option>
        <option value="All">All</option>
        <option value="GK">GK</option>
        <option value="DF">DF</option>
        <option value="MF">MF</option>
        <option value="FW">FW</option>
  </select>     
&nbsp;
    <input type = "submit" value="Show" id="btn">
</center>
</form>
<div style="visibility:{{data}}" style="font-family: font-family: 'PremierSans-Bold', Arial, 'Helvetica Neue', Helvetica, 'sans-seriff';";>
<center>
    <br>
    TOP 30 RESULTS (Only for group stage)
    <br>
<table>
<tr>
  <th>{{Player}}</th>
  <th>{{Team}}</th>
  <th>{{sortby}}</th>
</tr>
{% for stats in statsData %}    
<tr>
  <td>{{ stats.Player }}</td>
  <td>{{ stats.Team }}</td>
  <td>{{ stats.Result }}</td>       
</tr>
{% endfor %}    
</table>
</center>
</div>
    </div>
        
    <!-- Stats -->
    <div class="statistics" id="statistics">
        <center><p>NO NEWS</p></center>
    </div>
    
    <!-- Fantasy League -->
    <div class="fantasyleague" id="fantasyleague">
        <p id='typed1'></p>
    </div>
    
    <!-- Fixtures -->
    <div class="fixture" id="fixture">
        <p id='typed2'></p>
    </div>
    
    <!-- Score Predictions -->
    <div class="predictor" id="predictor">
        <p id='typed3'></p>
    </div>

</div>



<script src="./static/home.js"></script>
<script src="./static/typed.js"></script>
</body>
</html>